@tailwind base;
@tailwind components;
@tailwind utilities;

/* Subtle background grid */
body{
  background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}
